/.editorconfig              export-ignore
/.gitattributes             export-ignore
/.github/                   export-ignore
/.gitignore                 export-ignore
/CODE_OF_CONDUCT.md         export-ignore
/CONTRIBUTING.md            export-ignore
/captainhook.json           export-ignore
/composer.lock              export-ignore
/conventional-commits.json  export-ignore
